.login {
  width: 30%;
  margin: 2rem auto;
  text-align: center;
  padding: 2rem;
  border: 3px solid darkgray;
  text-align: center;
}

.login-form {
  width: 50%;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

/* .add-property-form div {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
} */

.login-form label {
  display: block;
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;
  align-self: center;
}

.login-form button {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 40%;
  height: 2rem;
  font-weight: 700;
  font-size: 1rem;
  align-self: center;
}