.navbar {
  background-color: white;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
}

.logo {
  width: 10%;
}

.navbar-links {
  margin: 0;
}

.navbar-links-item {
  list-style-type: none;
  display: inline-block;
  padding: 1rem 3rem;
  margin: 0;
}

.navbar-links-item a {
  text-decoration: none;
  color: black;
}